.footer-title{
    text-align:center;
    padding-bottom: 1em;
}
.footer-list{
    text-align:center;
}
.footer-item{
    display:inline-block;
}

.footer-tagline{
    text-align:center;
    padding-top:1em;
}