.contact{
    height:400px;
    text-align:center;
    margin: 2em 0;
    padding-top:1em;
    background-image: url("/images/mosaic-background-7.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    position:relative;
}
.contact-title{
    margin-bottom: 1em;
}

.mail-icon{
    margin-right:5px;
    font-size:1.5em;
    margin-left:2em;
}