.page-nav__li{
    
}

//-- Header

.page-nav{
    color:#000;
    text-align: center;
    padding: 1.5em;
}

a.logo{
    color:black;
}
a.logo:hover{
    text-decoration:none;
    color:white;
    text-shadow: 1px 1px 1px #000;
}

.page-nav__logo{
    font-family: 'Alex Brush', cursive;
    font-size:3.5em;
    transition:all 2s;
}

.page-nav__logo:hover{
    transform:rotate(1turn);
    
}

.page-nav__ul{
    @media (max-width:767px){
        background-color:white;
        z-index: 1;
    }
}


.page-nav__li{
    font-family:$body-font;
    font-size:1.3em;
}

span.icon-bar{
    background-color:black;
}



